{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block content %}
{% if user.is_authenticated %}
  <section class='container profile'>
  {% thumbnail object.image "300x300" as im %} 
    <figure class='img_detail offset-by-three column'>
      <figcaption>{{ object.description }}</figcaption>
      <img src="{{ im.url }}">
    </figure>
  {% endthumbnail %}
    {% if not detect %}
      <a href="{% url 'detect_faces' object.id %}">Detect Faces</a>
    {% else %}
    <img src="{{ detect }}">
    {% endif %}
  </section>
{% else %}
<h1>{% trans "Please Login" %}</h1>
{% endif %}
{% endblock %}
