{% extends "base.html" %}
{% load thumbnail %}
{% load i18n %}

{% block content %}
{% if user.is_authenticated %}
<section class='container'>
  <ul class='images'>
  {% for photo in object_list %}
    {% thumbnail photo.image "200x100" as im %}
    <section class='img_detail one-third column'>      
      <a href="{% url 'photo_detail' photo.id %}" >
        <img src="{{ im.url }}">
      </a>
    </section>
    {% endthumbnail %}
  {% empty %}
    <li>{% trans 'No Photos! Go add some, you fool!!!' %}</li>
  {% endfor %}  
  </ul>
</section>
{% else %}
<h1>{% trans "Please Login" %}</h1>
{% endif %}
{% endblock %}

