{% extends "base.html" %}
{% load thumbnail %}
{% load i18n %}

{% block content %}
{% if user.is_authenticated %}
<section class='container profile'>
  {% for photo in object_list %}
    {% thumbnail photo.image "200x200" as im %} 
    <figure class='img_detail'>
      <a href="{% url 'photo_detail' photo.id %}">
        <img src="{{ im.url }}">
      </a></br>
      <figcaption>{{ photo.description }}</figcaption>
      <a href="{% url 'edit_photo' photo.id %}"><button type="">Edit</button></a>
    </figure>
    {% endthumbnail %}
  {% empty %}
    <li>{% trans 'No Photos! Go add some, you fool!!!' %}</li>
  {% endfor %}  
  </ul>
</section>
{% else %}
<h1>{% trans "Please Login" %}</h1>
{% endif %}
{% endblock %}

