{% extends "base.html" %}
{% load thumbnail %}
{% load i18n %}

{% block content %}
{% if user.is_authenticated %}
  <ul>
  {% for photo in object_list %}
    {% thumbnail photo.image "200x100" as im %}
    <a href="{% url 'photo_detail' photo.id %}">
      <img src="{{ im.url }}">
    </a>
    {% endthumbnail %}
  {% empty %}
    <li>{% trans 'No Photos! Go add some, you fool!!!' %}</li>
  {% endfor %}  
  </ul>
{% else %}
<h1>{% trans "Please Login" %}</h1>
{% endif %}
{% endblock %}

<!--     <img src="{{ photo.image.url }}" alt="{{ photo.title }}">
    <p>{{ photo.title }}</p> -->
