{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "css/reset.css" %}">
    <link rel="stylesheet" href="{% static "css/layout.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Code Fellows Imager with Django</title>
</head>
<body>
    <header id="header">
    {% block header %}
        <a href="{% url 'index' %}">{% trans "Home" %}</a> | 
    {% if user.is_authenticated %}
        {% trans "Logged in" %}: {{ user.username }} 
        (<a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a> | 
        <a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a>)
    {% else %}
       <a href="{% url 'auth_login' %}">{% trans "Log in" %}</a>
    {% endif %}
    {% endblock %}
    </header>
    <main id="content">
    {% block content %}{% endblock %}
    </main>
    <footer id="footer">
    {% block footer %}
        <p>Imager Replica</p>
        <p>Created by Jim Grant and Scott Schmidt</p>
    {% endblock %}
    </footer>
</body>
</html>
