{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <aside class='signup'>
    
  </aside>
  <section class='img_cover'>
    {% for pic in public_pics %}
      <img src="{% cycle (some pic) %}" alt="Cover Photo">
    {% endfor %}
  </section>
{% endblock %}


It will contain marketing text that invites users to join the site. 
It will include a prominent display of an image chosen at random from all the public photos uploaded by your users.  
If there are no public photos, it should show an image you pre-select (served as a static resource) instead.

In addition to the above elements the page will provide clear calls to action for logging in or joining the site.
The login call to action, when clicked, will lead to a login form.
The registration call to action will lead to the registration page.

The home page should make use of a basic HTML skeleton provided by a base.html template.
It should fill blocks in that skeleton rather than defining the entire layout of the page itself.
